---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About Alex Hewitt",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m a starter Alex Hewitt. I am an experienced software developer who is passionate about
			learning new things constantly. Technologies that I use include:
			<ul class="list-inside list-disc">
				<li>Python</li>
				<li>React</li>
				<li>Javascript</li>
			</ul>
			<br />
			I also am seeking to learn React Native to start building some apps that I have in mind. On this
			personal website I plan to discuss things I am interested in or am working on!
		</p>
	</div>
</PageLayout>
